.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.search-input {
    width: 40%;
    height: 1.5rem;
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s;
}

.search-input:focus {
    box-shadow: 0 0 10px #fff;
}

.search-button,
.clear-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.close-search-buttonBar {
    color: red;
    position: relative;
    top: -55px;
    background-color: none !important;
    left: 160px;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
}

.close-search-buttonBar:hover {
    transform: scale(1.2);
}

.search-button:hover,
.clear-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    transform: scale(1.05);
}

@media (max-width: 860px) {
    .close-search-buttonBar {
        left: 140px;
    }
}

@media (max-width: 750px) {
    .search-input {
        width: 80%;
    }
}
